<br>
<div class="card bg-dark text-white col-sm-8 offset-2">
  <div class="card-header">Form-cars</div> 
  <!--<ng-template>
    <div class="card-header"></div>
  </ng-template>-->
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="brand" class="col-form-label col-sm-12">Marca:</label>
        <div class="col-sm-12">
          <input type="text" name="brand" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="model" class="col-form-label col-sm-12">Modelo:</label>
        <div class="col-sm-12">
          <input type="text" name="model" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="color" class="col-form-label col-sm-12">Color:</label>
        <div class="col-sm-12">
          <input type="text" name="color" class="form-control">
        </div>
      </div>

      <br>
      <div class="row text-center col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            <button class="btn btn-primary" role="button">Insertar</button>
          </div>
          <!--<ng-template #elseBlock>
            <button class="btn btn-primary" role="button">Editar</button>
          </ng-template>-->
        </div>

        <div class="form-group">
          <div class="col-sm-8">
            <button class="btn btn-danger" [routerLink]="['/cars']">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>